@{
    ViewData["Title"] = "Online Ordering";
}
<div style="margin: 0; padding: 0;">
    <div class="position-relative">
        <img src="~/Images/Mobile_Banner.jpg" alt="Events" class="w-100" style="height: 400px; object-fit: cover; filter: brightness(60%);">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white" style="padding: 2rem; width: 100%; max-width: 600px;">
            <h1 class="display-4" style="font-family: 'Bungee Shade', cursive; color: #F8FAE5;">Order Online</h1>
        </div>
    </div>
</div>
    <div class="container text-center">
        <h2 class="display-6 mb-3" style="color: #43766C;">Order From Your Phone</h2>
        <p class="lead mb-3" style="line-height: 1.6;">
            Experience the ease of ordering your favorite dishes with our new mobile ordering app! Simply scan the QR code at our restaurant, and you’ll be directed to our menu, where you can customize and place your order—all from your smartphone.</p>
    </div>
    <div class="my-3">
        <h2 class="text-center" style="font-size: 1.6em; color: #251605; font-weight: bold;">Key Features:</h2>
        <ul class="list-unstyled mt-4">
            <li class="mb-4">
                <div class="card-body" style="padding: 1.5rem; background-color: #B19470; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                    <h4 style="font-size: 1.3em; color: #251605; font-weight: bold;">Quick Access:</h4>
                    <p style="font-size: 1.1em; margin-top: 0.5rem; color: #251605;">
                        Scan the QR code at your table to access the menu instantly. No more waiting in line!
                    </p>
                </div>
            </li>
            <li class="mb-4">
                <div class="card-body" style="padding: 1.5rem; background-color: #43766C; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                    <h4 style="font-size: 1.3em; color: #F8FAE5; font-weight: bold;">Easy Pickup:</h4>
                    <p style="font-size: 1.1em; margin-top: 0.5rem; color: #F8FAE5;">
                        Choose your meals, place your order, and select a pickup time that works for you. Your food will be ready when you arrive.
                    </p>
                </div>
            </li>
            <li class="mb-4">
                <div class="card-body" style="padding: 1.5rem; background-color: #B19470; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                    <h4 style="font-size: 1.3em; color: #251605; font-weight: bold;">Customisable Orders:</h4>
                    <p style="font-size: 1.1em; margin-top: 0.5rem; color: #251605;">
                        Personalise your meal to your liking. Add special requests and dietary preferences with ease.
                    </p>
                </div>
            </li>
        </ul>
    </div>