@model ReservationSystem.Models.SittingType

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create Sitting Type";
}

<h2>Create Sitting Type</h2>
<form asp-controller="SittingType"></form>


<form  asp-controller="SittingType" asp-action="CreateSittingType" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" name="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>