@{
    ViewBag.Title = "Dashboard";
}

<div class="container mt-4">
    <h2 class="mb-4">Admin Dashboard</h2>
    <h3>Placeholders!</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white mb-3">
                <div class="card-body">
                    <h5 class="card-title">Today's Reservations</h5>
                    <p class="card-text">20 Reservations</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white mb-3">
                <div class="card-body">
                    <h5 class="card-title">Pending Confirmations</h5>
                    <p class="card-text">5 Reservations</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white mb-3">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Events</h5>
                    <p class="card-text">2 Events</p>
                </div>
            </div>
        </div>
    </div>
</div>