@{
    ViewData["Title"] = "Book a reservation";
}
<h1>@ViewData["Title"]</h1>

<p>
    Bean Scene is a family-friendly restaurant located in Sydney, Australia. It started by two
    brothers, James and Max Smith, in 2018. They specialise in serving affordable and delicious
    food featuring fresh ingredients prepared by their kitchen staff.
</p>

<p>
    The restaurant is open all day, from breakfast to dinner, and often booked for events and
    parties.
    Bean Scene believe in the commitment to our community and maintaining long term
    relationships with our customers and suppliers. Their menus reflect this commitment by
    sourcing their meat and vegetable from local suppliers.
</p>
