@{
    ViewData["Title"] = "View our menu";
}
<div style="margin: 0; padding: 0;">
    <div class="position-relative">
        <img src="~/Images/Menu_Banner.jpg" alt="Events" class="w-100" style="height: 400px; object-fit: cover; filter: brightness(60%);">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white" style=" padding: 2rem; width: 100%; max-width: 600px;">
            <h1 class="display-4" style="font-family: 'Bungee Shade', cursive !important; color: #F8FAE5;">Our Menu</h1>
        </div>
    </div>
</div>

<p>the bean scene menu will be available here</p>
